@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';

@import '../styles/bootstrap';

.title {
  border-left: none !important;
  border-right: 0.5rem solid $us-red;
  padding-left: 0;
  padding-right: 1rem;
}

.content {
  h3 {
    clear: both;
  }

  :global {
    @include media-breakpoint-up(md) {
      .gria-image-wrapper:nth-of-type(even) {
        width: 30%;
        float: left;
        margin: 0 1rem 1rem 0;
      }

      .gria-image-wrapper:nth-of-type(odd) {
        width: 35%;
        float: right;
        margin: 0 0 1rem 1rem;
      }

      .gria-image-wrapper:nth-of-type(3) {
        width: 40%;
      }
    }
  }
}
