@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';

.content {
  :global {
    @include media-breakpoint-up(md) {
      .gria-image-wrapper:nth-of-type(odd) {
        width: 35%;
        float: right;
        margin: 0 0 1rem 1rem;
      }

      .gria-image-wrapper:nth-of-type(even) {
        width: 35%;
        float: left;
        margin: 0 1rem 1rem 0;
      }
    }
  }
}
