// Config vars
$us-blue: #002868;
$us-blue-invert: #fff;
$us-red: #bf0a30;

$blue: $us-blue;
$red: $us-red;
$black: #2b2523;

$primary: $us-blue;
// $body-bg: #FFF;
// $body-color: #333;

// $theme-colors: (
//   'primary': $primary
// );
