// Config vars
$us-blue: #002868;
$us-blue-invert: #fff;
$us-red: #bf0a30;

$primary: $us-blue;
$primary-invert: $us-blue-invert;
$body-color: #333;
$black: #2b2523;

$color-primary: $primary;

// $theme-colors: (
//   'primary': $primary
// );
