// Config vars
$us-blue: #002868;
$us-blue-invert: #fff;
$us-red: #bf0a30;

$blue: $us-blue;
$red: $us-red;
$black: #2b2523;

$primary: $us-blue;

$link-color: $red;

$navbar-light-color:                rgba($us-blue, .55) !default;
$navbar-light-hover-color:          rgba($us-blue, .7) !default;
$navbar-light-active-color:         rgba($us-blue, .9) !default;
$navbar-light-disabled-color:       rgba($us-blue, .3) !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: rgba($us-blue, .1) !default;

$nav-link-height: 1.25rem * 1.5 + 2 * 2;

// $body-bg: #FFF;
// $body-color: #333;

// $theme-colors: (
//   'primary': $primary
// );
