backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

publish_mode: editorial_workflow
site_url: https://MiragliaQuirin2020.com
logo_url: https://miragliaquirin2020.com/static/logo-ac1b46f7620acd91ef1045817eb73682.svg

# media_folder: static/img
public_folder: /img

media_library:
  name: cloudinary
  output_filename_only: false
  config:
    cloud_name: dvjbm5qlr
    api_key: 892455978166953

collections:
  - name: 'events'
    label: 'Events'
    folder: 'src/pages/events'
    create: true
    slug: '{{slug}}'
    fields:
      - {
          label: 'Template Key',
          name: 'templateKey',
          widget: 'hidden',
          default: 'event-item',
        }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Date (Start)', name: 'start', widget: 'datetime' }
      - { label: 'Date (End)', name: 'end', widget: 'datetime' }
      - {
          label: 'Location',
          name: 'location',
          widget: 'string',
          required: false,
        }
      - {
          label: 'URL',
          name: 'url',
          widget: 'string',
          required: false,
        }
      - { label: 'Address', name: 'address', widget: 'text', required: false }
      - {
          label: 'Description',
          name: 'description',
          widget: 'text',
          required: false,
        }
      - {
          label: 'Featured Event',
          name: 'featuredevent',
          widget: 'boolean',
          required: false,
        }
      - {
          label: 'Featured Image',
          name: 'featuredImage',
          widget: image,
          required: false,
        }
      - { label: 'Body', name: 'body', widget: 'markdown', required: false }

  - name: 'pages'
    label: 'Pages'
    files:
      - file: 'src/pages/index.md'
        label: 'Landing Page'
        name: 'index'
        fields:
          - {
              label: 'Template Key',
              name: 'templateKey',
              widget: 'hidden',
              default: 'index-page',
            }
          - { label: Title, name: title, widget: string }
          - { label: Image, name: image, widget: image }
          - { label: Heading, name: heading, widget: string, required: false }
          - {
              label: Subheading,
              name: subheading,
              widget: string,
              required: false,
            }
          - { label: 'Body', name: 'body', widget: 'markdown', required: false }
      - file: 'src/pages/about/index.md'
        label: 'About Us'
        name: 'about'
        fields:
          - {
              label: 'Template Key',
              name: 'templateKey',
              widget: 'hidden',
              default: 'about-page',
            }
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Body', name: 'body', widget: 'markdown' }
          - {
              label: 'Featured Image',
              name: 'featuredImage',
              widget: image,
              required: false,
            }
      - file: 'src/pages/events/index.md'
        label: 'Events Page'
        name: 'events'
        fields:
          - {
              label: 'Template Key',
              name: 'templateKey',
              widget: 'hidden',
              default: 'events-page',
            }
          - { label: 'Title', name: 'title', widget: 'string' }
          - {
              label: 'Primary Heading',
              name: 'heading',
              widget: 'string',
              required: false,
            }
          - { label: 'Body', name: 'body', widget: 'markdown' }
          - {
              label: 'Featured Image',
              name: 'featuredImage',
              widget: image,
              required: false,
            }
          - label: 'Events'
            name: 'event_items'
            widget: 'list'
            fields:
              - {
                  label: 'Template Key',
                  name: 'templateKey',
                  widget: 'hidden',
                  default: 'event',
                }
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Date (Start)', name: 'start', widget: 'datetime' }
              - { label: 'Date (End)', name: 'end', widget: 'datetime' }
              - {
                  label: 'Location',
                  name: 'location',
                  widget: 'string',
                  required: false,
                }
              - {
                  label: 'Address',
                  name: 'address',
                  widget: 'text',
                  required: false,
                }
              - {
                  label: 'Description',
                  name: 'description',
                  widget: 'text',
                  required: false,
                }
              - {
                  label: 'Featured Event',
                  name: 'featuredevent',
                  widget: 'boolean',
                  required: false,
                }
              - {
                  label: 'Featured Image',
                  name: 'featuredimage',
                  widget: image,
                  required: false,
                }
              - {
                  label: 'Body',
                  name: 'body',
                  widget: 'markdown',
                  required: false,
                }
      - file: 'src/pages/get-involved/index.md'
        label: 'Get Involved'
        name: 'get-involved'
        fields:
          - {
              label: 'Template Key',
              name: 'templateKey',
              widget: 'hidden',
              default: 'get-involved-page',
            }
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Body', name: 'body', widget: 'markdown' }
          - {
              label: 'Featured Image',
              name: 'featuredImage',
              widget: image,
              required: false,
            }
          # - {
          #     label: 'Things to Do',
          #     name: things_to_do,
          #     widget: object,
          #     fields:
          #       [
          #         {
          #           label: Heading,
          #           name: heading,
          #           widget: string,
          #           required: false,
          #         },
          #         {
          #           label: 'Body',
          #           name: 'body',
          #           widget: 'markdown',
          #           required: false,
          #         },
          #       ],
          #   }
          - {
              label: 'Where to Stay',
              name: where_to_stay,
              widget: object,
              fields:
                [
                  { label: Heading, name: heading, widget: string },
                  {
                    label: 'Body',
                    name: 'body',
                    widget: 'markdown',
                    required: false,
                  },
                  {
                    label: 'Hotels',
                    name: 'hotels',
                    widget: 'list',
                    fields:
                      [
                        {
                          label: 'Template Key',
                          name: 'templateKey',
                          widget: 'hidden',
                          default: 'hotel',
                        },
                        { label: 'Name', name: 'name', widget: 'string' },
                        {
                          label: 'URL',
                          name: 'url',
                          widget: 'string',
                          required: false,
                        },
                        {
                          label: 'Distance',
                          name: 'distance',
                          widget: 'string',
                          required: false,
                        },
                        {
                          label: 'Address',
                          name: 'address',
                          widget: 'text',
                          required: false,
                        },
                        {
                          label: 'Phone',
                          name: 'phone',
                          widget: 'string',
                          required: false,
                        },
                        {
                          label: 'Notes',
                          name: 'notes',
                          widget: 'markdown',
                          default: '',
                          required: false,
                        },
                      ],
                  },
                ],
            }
      - file: 'src/pages/get-involved/things-to-do.md'
        label: 'Things to Do'
        name: 'things-to-do'
        fields:
          - {
              label: 'Template Key',
              name: 'templateKey',
              widget: 'hidden',
              default: 'things-to-do',
            }
          - { label: Heading, name: heading, widget: string, required: false }
          - { label: 'Body', name: 'body', widget: 'markdown', required: false }
      - file: 'src/pages/shop/index.md'
        label: 'Shop'
        name: 'shop'
        fields:
          - {
              label: 'Template Key',
              name: 'templateKey',
              widget: 'hidden',
              default: 'shop-page',
            }
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Body', name: 'body', widget: 'markdown' }
          - {
              label: 'Featured Image',
              name: 'featuredImage',
              widget: image,
              required: false,
            }
      - file: 'src/pages/rsvp/index.md'
        label: 'RSVP'
        name: 'rsvp'
        fields:
          - {
              label: 'Template Key',
              name: 'templateKey',
              widget: 'hidden',
              default: 'rsvp-page',
            }
          - { label: 'Title', name: 'title', widget: 'string' }
          - {
              label: 'Notes Placeholder',
              name: 'notes_placeholder',
              widget: 'string',
            }
          - {
              label: 'Will Attend Message',
              name: 'attending_msg',
              widget: 'string',
            }
          - {
              label: 'Regrets Message',
              name: 'not_attending_msg',
              widget: 'string',
            }
          - { label: 'Body', name: 'body', widget: 'markdown' }
          - {
              label: 'Featured Image',
              name: 'featuredImage',
              widget: image,
              required: false,
            }
      - file: 'src/pages/rsvp/thanks.md'
        label: 'Thank You'
        name: 'thanks'
        fields:
          - {
              label: 'Template Key',
              name: 'templateKey',
              widget: 'hidden',
              default: 'rsvp-thanks-page',
            }
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Body', name: 'body', widget: 'markdown' }
          - {
              label: 'Featured Image',
              name: 'featuredImage',
              widget: image,
              required: false,
            }
      - file: 'src/pages/faq/index.md'
        label: 'FAQ'
        name: 'faq'
        fields:
          - {
              label: 'Template Key',
              name: 'templateKey',
              widget: 'hidden',
              default: 'faq-page',
            }
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Body', name: 'body', widget: 'markdown' }
          - {
              label: 'Featured Image',
              name: 'featuredImage',
              widget: image,
              required: false,
            }
      - file: 'src/pages/coronavirus/index.md'
        label: 'Coronavirus Update'
        name: 'coronavirus'
        fields:
          - {
              label: 'Template Key',
              name: 'templateKey',
              widget: 'hidden',
              default: 'covid-page',
            }
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Body', name: 'body', widget: 'markdown' }
          - {
              label: 'Featured Image',
              name: 'featuredImage',
              widget: image,
              required: false,
            }
