@import '../styles/bootstrap';

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  min-height: 180px;
  padding: 0 5%;

  h1,
  h2,
  h3 {
    text-shadow: 1px 1px 1px #000;
  }

  h1 {
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border-left: 0.5rem solid $us-red;
    padding-left: 1rem;
  }

  @include media-breakpoint-up(md) {
    min-height: 260px;

    h1 {
      font-size: 3.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: 380px;

    h1 {
      font-size: 3.5rem;
    }
  }
}
